{% extends 'dealcent/head.html' %}
{% load static %}
{% block title %} Машины {% endblock %}

{% block content %}
    <div text-align="center">
    <h3>Выберите марку</h3>
    <h3><a href=""><button class="btn btn-warning ">Уведет к выбору марки </button></a></h3>
        <a href="{% url 'create_car' %}"><button>Выбрать конфигурацию</button></a><br>
        <a href=""><p>Марки нужны дилерам: </p></a>
        {% for i in marks %}
            <ul>{{i}}</ul>
        {% endfor %}
    <h3>Список авто на складе</h3>
    <a href="{% url 'char' %}"><button>Посмотреть</button></a>

    </div>

{% endblock %}